$bg-loader: #000000;
$bg-main: #1e2d3b;
$bg-disk: #2e3a46;
$border-spinner-before: #66e6ff;
$border-spinner: rgba(255, 255, 255, 0.1);
$border-spinner-after: #f0db75;
$color-text-title: #f8ffff;
$color-text-subtitle: #515961;
$linear-gradient: rgba(0, 0, 0, 0.1);